<mat-list role="list">
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="">Siteyi gor</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="/admin">Dashboard</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="boosters">Booster</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="characterlevelboosts">Character Level Boost</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="characters">Character</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="coaches">Coach</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="companys">Company</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="customers">Customer</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="divisions">Division</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="employees">Employee</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="extraoptions">Extra Option</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="factors">Factor</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="games">Game</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="levelboosts">Level Boost</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="moderators">Moderator</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="orderdetails">Order Detail</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="orders">Order</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="roles">Role</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="servers">Server</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="services">Service</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="tiers">Tier</a>
    <a mat-list-item role="listitem" style="text-decoration: none" routerLink="toptiereloboosts">Top Tier Elo Boost</a>
</mat-list>